<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,74},{321,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,92}}</string>
                <key>sourceSize</key>
                <string>{321,92}</string>
            </dict>
            <key>button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,74},{321,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,92}}</string>
                <key>sourceSize</key>
                <string>{321,92}</string>
            </dict>
            <key>button2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,379},{262,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,110}}</string>
                <key>sourceSize</key>
                <string>{262,110}</string>
            </dict>
            <key>button2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{262,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,110}}</string>
                <key>sourceSize</key>
                <string>{262,110}</string>
            </dict>
            <key>button3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>button3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>button4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,59}}</string>
                <key>sourceSize</key>
                <string>{138,59}</string>
            </dict>
            <key>button4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{145,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,67}}</string>
                <key>sourceSize</key>
                <string>{145,67}</string>
            </dict>
            <key>button5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,59}}</string>
                <key>sourceSize</key>
                <string>{138,59}</string>
            </dict>
            <key>button5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{145,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,67}}</string>
                <key>sourceSize</key>
                <string>{145,67}</string>
            </dict>
            <key>cosmos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{1137,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,641}}</string>
                <key>sourceSize</key>
                <string>{1137,641}</string>
            </dict>
            <key>dash_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1301},{1137,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,641}}</string>
                <key>sourceSize</key>
                <string>{1137,641}</string>
            </dict>
            <key>dashboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{1136,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,104}}</string>
                <key>sourceSize</key>
                <string>{1136,104}</string>
            </dict>
            <key>failure_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{601,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,138}}</string>
                <key>sourceSize</key>
                <string>{601,138}</string>
            </dict>
            <key>killcounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{463,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,70}}</string>
                <key>sourceSize</key>
                <string>{463,70}</string>
            </dict>
            <key>titletypeface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{751,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,103}}</string>
                <key>sourceSize</key>
                <string>{751,103}</string>
            </dict>
            <key>victory_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,379},{601,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,137}}</string>
                <key>sourceSize</key>
                <string>{601,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_atlas.png</string>
            <key>size</key>
            <string>{1141,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3441dc41378812472be9360b87fb0cd6:9ac7f097f6364b64d9eff37b30ca3de4:6a265ff3a3486568141fb62c79ae10e1$</string>
            <key>textureFileName</key>
            <string>gui_atlas.png</string>
        </dict>
    </dict>
</plist>
